/*navbar*/

#navigation-bar {
    background-color: #504489;
    height: 110px;
}

#navigation-bar a {
    color: white;
    font-family: "Josefin Sans";
    margin-top: 8px;
}

#navigation-bar .nav-link:hover,
#navigation-bar .nav-link:active {
    text-decoration: underline;
    color: white;
}

#navigation-bar .dropdown-menu {
    background-color: #362e5f;
}

#navigation-bar .dropdown-menu a:hover {
    color: #504489;
}

#navigation-bar .nav a {
    font-size: 1.4rem;
}

/*footer*/

.site-footer {
    background-color: #504489;
    padding: 60px 0px 60px 0px;

    font-size: 15px;
    line-height: 10px;
    color: white;
    font-family: "Josefin Sans";
}

.site-footer img {
    width: 350px;
}
.site-footer p {
    font-size: 15px;
    color: white;
}

.site-footer li {
    letter-spacing: 0.1px;
    line-height: 35px;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: white;
}
.site-footer a:hover {
    color: #f6fac0;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: white;
}

/*about*/

.about-bullying {
    font-family: "Josefin Sans";
}

.about-bullying h2 {
    font-weight: 600;
}

.about-bullying h4 {
    font-weight: 500;
}

.about-bullying h2,
.about-bullying h4 {
    color: #504489;
}

.place {
    background-color: #ffaca6;
    color: #504489;
}

.card {
    background-color: #f6fac0;
    text-align: center;
}

.card p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

/*sebelum login*/

.first-page h1,
.first-page h3,
.first-page h5 {
    color: white;
    font-family: "Josefin Sans";
}

/*login*/

.login-page {
    background-image: url(/img/login-background.png);
    background-size: cover;
    margin-top: -0px;
    height: 600px;
    font-family: "Josefin Sans";
}

.login-page img {
    margin-top: 10px;
}

.login-form {
    background-color: #ffd0d0;
    margin-top: 120px;
    width: 450px;
    height: 350px;
}

.login-form button {
    height: 45px;
    color: white;
    font-weight: bold;
}

/*form*/
.form-page {
    background-color: #8698dd;
    background-size: cover;
    height: 1200px;
    font-family: "Josefin Sans";
}

.form-page form {
    color: white;
}

.form-page label {
    color: white;
    background-color: #f68e87;
    width: 200px;
    height: 23px;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
}

.form-page h1 {
    font-weight: 600;
    color: #504489;
}
.submit {
    color: white;
}

.submit:hover {
    color: black;
}

/*home form*/
.form-home-page {
    background-color: #8698dd;
    background-size: cover;
    height: 700px;
    font-family: "Josefin Sans";
}

.form-home-page form {
    color: white;
}

.form-home-page label {
    color: white;
    background-color: #f68e87;
    width: 200px;
    height: 23px;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
}

.form-home-page h1 {
    font-weight: 600;
    color: #504489;
}
.submit {
    color: white;
}

.submit:hover {
    color: black;
}
